<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Order</th>
      <th>Id</th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |r| %>
      <tr>
        <td><%= r.created_at %></td>
        <td><%= r.order %></td>
        <td><%= r.user_id%></td>
      </tr>
    <% end %>
  </tbody>
</table>

