<h2>Request Orders</h2>
            <%if @count.nil?%>
              <h3>There are no requests !</h3>
            <%else%>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Date</th>
              <th>Order</th>
              <th>Id</th>
            </tr>
          </thead>
          <tbody>
 <% @requests.each do |r| %>
      <tr>
        <td><%= r.created_at %></td>
        <td><%= r.order %></td>
        <td><%= r.user_id%></td>
      </tr>
    <% end %>


         </tbody>
        </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>
  <%end%>
