<h1>Your order has been placed</h1>
<br/>
<br/>
<%= link_to "My Orders", agreements_index_path%> 

<br/>
<br/>
<% if current_user.horticulturist %>

<%= link_to "Received Orders",agreements_received_path %>

<%end%>
