@import "bootstrap-sprockets";
@import "bootstrap";
@import "home";

.masthead {
  position: normal;
}

.table > tbody > tr > td {
background: #2BBBAD;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #2BBBAD;
    border-color: #337ab7;
}
